/* src/com-designs/ScrollDownButtonWhite.css */
.scroll-down-button-white {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    cursor: pointer;
    animation: bounce 2s infinite;
}

.scroll-down-button-white span {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold; /* Make the text bold */
}

.scroll-down-button-white .icon {
    font-size: 2rem;
    animation: bounce-icon 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

@keyframes bounce-icon {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}